/*
a. Default text is Times New Roman font with a sans-serif as a fallback option**
b. The background color is black (use hexadecimal values)
c. The foreground is white (use hexadecimal values)
*/
body{
	font-family: 'Times New Roman', sans-serif;
    background-color: #000000;
    color: #ffffff;
}


/*
a. Header 1 is 64px, centered, and has padding of 10px
*/
h1{
	font-size: 64px; 
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

/*
a. Header 2 is 32px, with grey (#808080) drop shadow (use text-shadow property) 
that is offset 4px horizontally, 4px vertically, and 2px blur
*/
h2{
	font-size: 32px; 
    text-shadow: 4px 4px 2px #808080;
	text-align: center;
}

/*
a. Paragraphs use 24px font and have 15px padding on the top only
*/
p{
    font-size: 24px;
    padding-top: 15px;
}

/*
a. All images are on their own line
b. All images are centered 
c. All images are 550px wide  (the image should not be warped or stretched)
*/
img{
    break-before: always;
    break-after: always;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 550px;
}

/*
a. All divs must be at least 150px tall (but will automatically be taller if 
needed) with 25px padding on all sides.
*/
div{
	min-height: 150px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
}

/*
Red div has the following styles:
a. Background color is hexadecimal value for red
b. Text is aligned on the right side
*/
#red{
	background-color: #ff0000;
	text-align: right;
}

/*
Blue div has the following styles:
a. Background color is hex value for blue
b. Text is aligned on the left side
*/
#blue{
	background-color: #0000ff;
    text-align: left;
}

/*
Yellow div has the following styles:
a. Background color is hexadecimal value for yellow 
b. Text is aligned on the right side
c. Header 2 and paragraph text is black
d. Header 2 uses the same text-shadow  with the same parameters
   as above but #c7e2c7 as the color.
*/
#yellow{
	background-color: #ffff00;
	text-align: right;
    color: #000000;
    text-shadow: 4px 4px 2px #c7e2c7;
}

/*
Green div has the following styles
a. Background color is hexadecimal value for green  (Use #008000)
b. Text is aligned on the left side
*/
div#green{
	background-color: #008000;
    text-align: left;
}

/*
Paragraphs within the footer have text that is centered with 10px padding
on the bottom and right only. (No padding on the left or top.)
*/
footer{
    text-align: center;
    padding-bottom: 10px;
    padding-right: 10px;
}


